.addButton {
  font-size: 1rem;
  padding: 0.25rem;

  background-color: white;
  color: green;
  cursor: pointer;

  &:hover {
    background-color: rgba(17, 177, 17, 0.538);
    color: white;
  }
}
